*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Times; 
}

:root{
    --card_size: 355px;
    --list_element_size: 200px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
