.list-selector-title {
    font-weight: bold;
}

.list-element {
    margin: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: fit-content;
    font-weight: bold;
    display: flex;
    padding: 0.5rem;
    width: var(--list_element_size);
}

.list-element:hover {
    cursor: pointer;
    background-color: lightgray;
}


.list-element-selected {
    background-color: lightgray;
}

.list-element-text {
    padding-left: 0.5rem;
}

.list-element-icon {
    width: 30%;
    border-radius: 100%;
    border: 0.025rem solid;
}

.flex-container {
    display: flex;
    gap: 16px;
}

/* .flex-container .col {
    flex: 1;
} */

.layout {
    width: 60%;
}

.layout:hover {
    cursor: pointer;
}