<app-dialog

  [isOpen]="dialogOpen"
  [stuffs]="stuffs"
  [coords_x]="coords_x"
  [coords_y]="coords_y"
  (cancelled)="dialogOpen = false"
  (created)="addNewLineup($event)"
  />
  
<lineup-panel
  [lineup]="panelLineup"
  [isPanelOpen]="panelOpen"
  (cancelled)="panelOpen = false"
/>


<button mat-button routerLink="/maps">
    <mat-icon>arrow_back</mat-icon>
    Return to the maps list
</button>
<div class="flex-container">
    <div>
        <div class="list-selector">
            <h2 class="list-selector-title">Teams</h2>
            <div class="list">
                <div class="list-element" *ngFor="let team of teams" [id]="team.id"
                    [class.list-element-selected]="team.id === teamSelected" (click)="pickTeam(team.id)">
                    <img src="http://localhost:8080/assets?type=teams&name={{team.asset_name}}" alt="Team icon" class="list-element-icon">
                    <p class="list-element-text">{{team.name}}</p>
                </div>
            </div>
        </div>
        <div class="list-selector">
            <h2 class="list-selector-title">Stuffs</h2>
            <div class="list">
                <div class="list-element" *ngFor="let stuff of stuffs" [id]="stuff.id"
                    [class.list-element-selected]="stuff.id === stuffSelected" (click)="pickStuff(stuff.id)">
                    <img src="http://localhost:8080/assets?type=stuffs&name={{stuff.asset_name}}" alt="Stuff icon" class="list-element-icon">
                    <p class="list-element-text">{{stuff.name}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="stuff-container">
        <img class="layout" id="map-image" src="http://localhost:8080/assets?type=callouts&name={{mapSelected}}" (click)="getPixels($event, $any($event.target));dialogOpen = true">
        <ng-container *ngFor="let lineup of lineups">
        <img id="stuff-image" class="stuff-icon" [style.margin-left.px]="getXLineup(lineup)" [style.margin-top.px]="getYLineup(lineup)" src="http://localhost:8080/assets?type=lineups&name={{lineup.stuff_id}}_{{lineup.team_id}}" *ngIf="lineup.team_id == teamSelected || teamSelected == 'any'" (click)="panelOpen=true; setPanelLineup(lineup)">
        </ng-container>
    </div>
</div>